<app-toolbar [title]="title" [menuItems]="menuItems"> </app-toolbar>

<div class="content" fxLayoutGap="12px">
    <router-outlet></router-outlet>
    <app-messages></app-messages>
</div>

<!--
     /* FxFlex é uma DIRETIVA do pacote AngularFexLayout, pra eu poder usar o FlexLayout, 
        sem precisar de uma Classe CSS. Assim, ele tem o mesmo efeito da Classe que eu copiei 
        do AngularMaterial.
    */

    /*No <button> eu colocoque terá um <mat-icon-button>, ie terá um ÍCONE do Material.
            
            Fora do <button> eu coloco o <mat-icon>
                ÍCONE de um lutador de artes marciais. 
             - O atributo aria-label (aria-label="Texto") serve para os deficientes visuais passarem o mouse 
               em cima do ÍCONE DO LUTADOR, aí fala este código. 
             - O atributo routerLink="rota", serve pra quando eu clicar no link, ir para a rota dos "".
             - matTooltip serve para DICAS (tips). É pra quando passar o mouse em cima do ÍCONE, e ele mostra a dica "HeroesT".
    */

    /* Vamos usar também o FlexLayout. O fxLayoutGap="12px" faz a distância pra nós, que será de 12px, entre os elementos desta <div>: 
        a rota e as mensagens. 
    */

    /* 
     NÃO tem mais o <app-heroes></app-heroes> e o <app-heroes></app-heroes>.
     //
     // Agora pra aparecer os Herois (<app-heroes>), eu tenho que colocar a rota (/heroes) depois do "www.localhost:4200", na URL.
     //
     // O <app-heroes></app-heroes> foi substituído pela constante routes. Ela fica no arquivo app.routes.ts.
     // 
     // const routes: Routes = [{ path: "heroes", component: HeroesComponent }];
     // Esse tipo Routes, ele faz parte de um MÓDULO do Angular, chamado @angular/router.
     // Como ele funciona? Dentro dele a gente vai especificar algumas ROTAS.
     // Ele é um ARRAY, e tem alguns atributos:
     //     path (caminho), e o componente inicial.
     //
     // Então, quando eu tiver por exemplo no "www.localhost:4200" ele vai colocar o "heroes" na URL,
     // ficando assim a URL: "www.localhost:4200/heroes"
     //
     // Daí, caso tenha na minha URL o "/heroes", o vou falar que o component "heroes" seja exibido
     // na nossa página. 
   */




   


-->
