<!-- *ngIf: pra que se mostre essa parte (DIV), caso tenha alguma mensagem.
      getMessages() retorna um ARRAY.
      length() retorna um number, ref o tamanho do array.
               Se ele tiver 0, o *ngIf interpreta como FALSE. E não mostra essa DIV.
               Se ele retornar 1 ou mais de 1, *ngIf interpreta como TRUE. E mostra essa DIV.
-->
<div *ngIf="messagesService.getMessages().length">
    <!-- Se ele não tiver nenhuma mensagem, esse trecho abaixo não vai ser exibido-->
    <h2>Messages</h2>
    <!-- texto "Messages"-->

    <!-- O ACORDEON só vai acontecer, se tiver mensagens.
           Um dos componentes visuais mais utilizados nas páginas web atuais é o chamado Accordion. 
           Trata-se de uma estrutura formada por guias/seções que podem ser expandidas e fechadas 
           ao se clicar no seu título.    
    -->
    <mat-accordion *ngIf="messagesService.getMessages().length">
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title> Messages </mat-panel-title>
                <mat-panel-description>
                    {{ messagesService.getMessages().length }} record(s)
                </mat-panel-description>
            </mat-expansion-panel-header>

            <p>
                <!-- O botão ficará dentro de um PARÁGRAFO (<p></p>), para o texto não ficar muito colado. -->
                <button
                    color="warn"
                    mat-raised-button
                    (click)="messagesService.clear()"
                >
                    Clear messages
                </button>
                <!-- botão "Clear messages": 
                        Ou seja, se eu quiser limpar essas mensagens, eu vou clicar
                        nessess botão. Esse botão vai invocar (chamar) via click.
                        Ou seja, clicou no botão, ele vai lá executar o método (função)
                        messageService.clear().  
                 Event Binding, como o click digito assim: (evento)="funçãoDisparada()"       
            --></p>
            <div *ngFor="let message of messagesService.getMessages()">
                {{ message }}
                <!-- nessa iteração do ARRAY<de mensagens>, eu vou exibir a mensagemT -->
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <!-- PAREI NO MINUTO 24:00 -->

    <!-- No arquivo .HTML é onde eu programo o conteúdo da minha página WEB.
     Acredito que seja o mais importante, neste curso, pois é onde tudo acontece na página WEB.
    
     Nele, eu programo (comandos) o conteúdo da minha página WEB: Dou os meus comandos de programação 
     no conteúdo (TAGs) da página.
     
     Comandos mais usados:
     - Comando de exibição da página. Exemplos: 
         style="estilo da TAG" OU
         [ngStyle]="estilo da TAG, mas neste caso em Angular, ie com mais recurso).            
     - if / for etc, através das Diretivas.
     - Comandos de manipulação de dados (através do Binding de dados).
-->

    <!--
    O que é binding em Angular?
    O binding de dados é uma das principais funcionalidades do Angular. Ele permite que as alterações feitas 
    em uma propriedade sejam refletidas automaticamente em outras partes do aplicativo, sem a necessidade de 
    atualizar a página inteira. Isso torna o desenvolvimento de aplicativos da web mais eficiente e flexível.
                             1 de mar. de 2023 - Como fazer o binding de dados em Angular - Gaspar Barancelli

    O binding de dados é uma das principais funcionalidades do Angular. 
    Ele permite que as alterações feitas em uma propriedade sejam refletidas automaticamente em outras partes 
    do aplicativo, sem a necessidade de atualizar a página inteira. 
    Isso torna o desenvolvimento de aplicativos da web mais eficiente e flexível.

    Para fazer o binding de dados em Angular, é importante entender a sintaxe e os diferentes tipos de binding 
    disponíveis. Além disso, é importante escolher o tipo de binding adequado para cada situação, levando em 
    consideração a natureza dos dados e a interação do usuário com o aplicativo.

    Existem diferentes tipos de binding de dados disponíveis no Angular, incluindo:
    
    Interpolação
      É uma técnica para exibir valores em um modelo HTML. Ela é realizada usando chaves duplas {{ }} para 
      envolver o valor desejado.

      Por exemplo, se você tiver uma variável no componente chamada "nome", poderá exibir seu valor em um 
      parágrafo usando interpolação da seguinte maneira:

      <p>Meu nome é {{nome}}</p>

   Property binding
      O binding de propriedades é usado para associar uma propriedade HTML a uma propriedade do componente. 
      Por exemplo, se você quiser definir a cor de fundo de um elemento HTML com base em uma propriedade do 
      componente chamada "corDeFundo", você pode usar a sintaxe de binding de propriedade da seguinte maneira:

      <div [style.backgroundColor]="corDeFundo">
        Conteúdo
      </div>

    Event binding 
      O binding de eventos permite que você responda a eventos do usuário, como cliques ou digitação de teclas. 
      Por exemplo, se você quiser executar um método chamado "salvar" quando um botão for clicado, você pode 
      usar a sintaxe de binding de evento da seguinte maneira:
       (click)="método, que quando eu clicar no BOTÃO, realize uma ação como limpar a Tela, Salvar etc."

      <button (click)="salvar()">Salvar</button>

    Two-way binding
      O two-way binding permite que as alterações feitas em uma propriedade HTML sejam refletidas automaticamente 
      na propriedade do componente e vice-versa. Por exemplo, se você quiser criar um campo de entrada de texto 
      que atualize automaticamente uma variável do componente chamada "texto", você pode usar a sintaxe de two-way
      binding da seguinte maneira:

      Exemplo:
        <input [(ngModel)]="texto">
        <p>Texto digitado: {{texto}}</p>

      Observação: O two-way binding requer a importação do módulo FormsModule do Angular no componente em questão.

    Conclusão
    O binding de dados é uma funcionalidade essencial do Angular que permite que as alterações feitas em uma 
    propriedade sejam refletidas automaticamente em outras partes do aplicativo. Compreender a sintaxe e os 
    diferentes tipos de binding disponíveis é fundamental para o desenvolvimento eficiente e flexível de aplicativos
    da web em Angular.                         
-->

    <!--
     *ngIf="pode ser um método (ou expressão) que retorna 0 (false) ou um valor >0 (true)"    
     *ngFor="let message of qualquerIteradorComoUmArrayOuUmMétodoQueRetorneUmaLista"
     
     *ngIf e *ngFor são Diretivas do Angular.

     Diretivas estruturas e diretivas de atributo:
     As diretivas estruturais são responsáveis por mudar a estrutura do DOM. Elas funcionam 
     adicionando ou removendo os elementos do DOM, ao contrário das diretivas de atributos, 
     que apenas alteram a aparência e o comportamento do elemento.
        Você pode facilmente diferenciar as diretivas estruturais e as diretivas de atributos
        observando apenas a sintaxe. Quando nomeamos uma diretiva estrutural, ela sempre terá 
        como prefixo um asterisco(*), enquanto a diretiva de atributos não contém nenhum 
        prefixo. 
        As três diretivas estruturais do Angular mais populares são NgIf, NgFor, e NgSwitch.

     A diretiva NgStyle é uma diretiva de atributo usada para alterar o estilo de qualquer 
     elemento do DOM com base em alguma condição.
        Exemplo 1:
         <p [ngStyle]="{'background': isBlue ? 'blue' : 'red'}">Eu sou uma diretiva de atributo</p>

         No código acima, estamos adicionando um fundo azul se o valor da variável isBlue for verdadeiro. 
         Se o valor da variável isBlue for falso, o fundo será vermelho.

        Exemplo 2:
         <p *ngIf="show">Eu sou uma diretiva estrutural</p>

         No código acima, o parágrafo permanecerá no DOM se o valor da variável show for verdadeiro. 
         Do contrário, ele será iniciado juntamente com o DOM.        
        
     Essas diretivas são colocadas no .HTML. 
     Numa TAG do HTML. 
     É o código praticamente para eu criar a LÓGICA da exibição OU NÂO de um conteúdo (TAG) da página.

     As diretivas são as funções que serão executadas sempre que o compilador do Angular as encontrar. 
     Elas aprimoram a capacidade dos elementos do HTML anexando comportamentos personalizados ao DOM.
     
     Conclusão:   
     Com as diretivas, você pode adicionar LOGICA dinâmica, manipular eventos, controlar a visibilidade
     de elementos, modificar o estilo e até mesmo criar componentes totalmente personalizados. 
     Elas são funções essenciais, ricas em recursos e de fácil uso do desenvolvedor.   1 de out. de 2023
--></div>
