<h1>My Heroes</h1>

<mat-table [dataSource]="heroes">
    <!-- [dataSource] é a origem dos dados. No caso é o heroes (nosso ARRAY), que a gente vai exibir.. -->

    <!-- id -->
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
        <!-- Esta CÉLULA receber um nome "row", e cada nome é "row.id."-->
    </ng-container>

    <!-- name -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <!-- displayedColumns é uma Propriedade (ARRAY de strings), que a gente criou no nosso HeroComponent. -->
    <mat-row
        class="mat-row"
        *matRowDef="let row; columns: displayedColumns"
        [routerLink]="['/heroes', row.id]"
    ></mat-row>
    <!-- Tive que definir a class (class="mat-row"), para o ponteiro na forma de MÃOzinha funcionasse.  // Qualquer estilo (no arquivo .scss, claro!) que eu criar, eu tenho que definir uma class="NOME DO ESTILO", no TEMPLATE (arquivo .html). -->
    <!-- Cada item da minha TABELA, ele deu o nome de "row". Poderia ser "linha" ou qualquer outra coisa, não importa.  //  O que impoorta é que o nome que a gente usar aqui, a gente vai ter usar usar como o "id" dele (row.id).  -->
    <!-- Como a gente perdeu a opção de clicar no link prá navegar a ROTA DO Detalhe do Heroi, usei o routerLink="" de novo.        //  routerLink="/heroes/row.id" estava mostrando na URL Heroes/row.id. Então, eu mudei para "[routerLink]="['/heroes', row.id]", prá ele mostrar O VALOR, na URL. -->
</mat-table>

<!--
    A responsabilidade deste arquivo agora é:
    - Mostrar listagem, e,
    - Ao selecionar alguém, mandar pro componente de HeroDetail (HeroDetailComponent).

    E agora, ele criaram uma relação de pai e filho (parent-child):
    Pai, que é o componente Heroes, ele controla o componente filho (Heroes-Detail).

    routerLink="/heroes/{{ hero.id }}"
       Se eu clicar em cima de um item (HERÓI) da minha LISTA, ele vai mudar para o HERO.id.

    [class.selected]="selectedHero === hero" // FOI REMOVIDO NA AULA 19, substituído pelo comando "routerLink=""".  // Não faz mais sentido, pq ele não seleciona o hero mais pelo método que eu criei onSelected(), mas sim por uma ROTA através do "routerLink="rota"").     // Ctrl + Shift + K, apaga uma linha.


    (click)="onSelect(hero)" // Removido na Aula 19. Não faz mais sentido. // Tirar o MÉTODO onSelect() do Component também.


    <app-hero-detail [hero]="selectedHero"></app-hero-detail> // Não precisa mais na Aula 19.

-->

<!--
  RECAPITULANDO:
  1- | upppercase OU | currency, são pipelines que eu coloco para formatar um elemento.
         No caso é upppercase é MAIÚSCULAS. currency é formato MOEDA.

         | upppercase OU | currency, são Pipes, e são do pacote CommonModule do 'angular/commom'.
         Tenho que importar no arquivo .ts, senão não funciona.

  2- (click)="onSelect(hero)"
        (click)=”” é um EVENT BINDING. Ou seja, um vinculação por um evento, no caso, um click.
        (click)="" é para quando eu clicar num objeto, ele executar o método que está nos "".
        Então, sempre (click)="" precisa de uma método.

  3- [(ngModel)]="selectedHero.name"
     [(ngModel)] é para eu vincular um Modelo (Model) ao HTML.
         Então, quando eu clicar no input, o Modelo (campo name do selectedHero) será alterado.

         [(ngModel)]="selectedHero.name"
         // "selectedHero.name" é o valor (dado), em se dará o
         //                     <input> (edição, entrada de dados pelo usuário).

         [(ngModel)]="objeto.atributo" é do ANGULAR.FORMS.
             Portanto, tenho que importar o FormsModule no arquivo .ts (TypeScript).

     *ngFor="let hero of heroes" é uma DIRETIVA (Comando) DO Angular, para repetição.
                                 Por isso é uma Diretiva ESTRUTURAL.
                                 "let" ANTES de qq variável (no caso hero) é para criar uma
                                       variável que se pode modificar.
                                       Ao contrário do "const".
                                 "hero" é uma das variáveis do meu ARRAY (variável "heroes").

     <div *ngIf="selectedHero">
          *ngIf="selectedHero" é um DIRETIVA do Angular, para fazer um IF.
          Então, se existir um selectedHero, executa o bloco. Senão, não executa o bloco.

  4- <span style="font-size: xx-large">id:
           o id tera uma fonte tamanho grande.


  5- <ul class="heroes">
     // Adicionei uma classe chamada "heroes".
     // Tudo que tem "class", estou criando uma classe:
     //               [class.selected]="valor" // quer dizer que é para o Angular criar
     //               uma Classe, dentro da classe "heroes", chamada "selected".
     //               A diferença aqui é que usou um BINDING, que são as chaves para
     //                           uma instrução / comando HTML.
     //                           Se fosse as chaves duplas "{{}}", seria para um colocar
     //                           um comando do Angular: mas é BINDING da mesma forma.
     // Nela eu coloquei pra que o cursor seja mostrado como
     // um PONTEIRO: foi no arquivo heroes.component.scss.

  6- No <li>, eu coloquei o [class.selected]
       Então, ele adiciona a Classe "selected", quando o hero
       FOR IGUAL ao selectedHero.

  7- Estilando um HERÓI que a gente selecionou:
        [class.selected]="hero === selectedHero"

        O ANGULAR tem essa forma que a gente coloca entre COLCHETES,
        que é o class.
        Então, eu tô dizendo:
        Eu quero adicionar uma classe chamada "selected".

        Depois eu coloco um IGUAL.
        Dentro dos "" eu coloco uma condição BOOLEANA: vai me retornar V ou F.

        Neste caso, quando eu modificar um HeroiSelecionado, o
        Herói muda automaticamente. Mas, só na tela claro!. Não no back-end.

        Note que o IGUAL tem  3 =, pra gente fazer uma verificação,
        pra ver se eles são realmente iguais.

  8- placeholder="name"
       placeholder="" é o TEXTO que aparacerá na caixinha para o usuário preencher no <input>.
       No caso, ele vai dar um NOME para o campo.

  9- <h1>, <h2> ... são tamanhos de fontes de texto.

  10- <ul> é para uma lista ordenada: de 1 a n, por exemplo.
      <li> é para cada ITEM DESTA LISTA (cada 5linha desta lista).

  11- <div> é uma divisão do texto.

  12- <labe> é o rótulo de um campo a ser digitado pelo usuário.

  13- <span> é para formatar um texto.
             Para formatar, não é necessário. Basta colocar style="estilo".
             Ele é melhor para separar um pedaço do TEXTO.

  14- {{comando qualquer do ANGULAR}}

  15- Diferença de eu usar [] ou {{}}
        Quando eu uso a sintaxe dos colchetes ou das chaves duplas?

        O property binding é uma forma de associar propriedades entre o template
        (arquivo html) e o component (arquivo typescript). Essa associação pode ser feita
         utilizando a sintaxe dos colchetes ou das chaves duplas (interpolação).

         Você pode utilizar as duas formas, pois ambas servem para mostrar na tela algo
         que está na classe, por isso se chama vinculação unidirecional, no sentido do
         typescript para o html.

         component => {{valor}} => template
         component => [propriedade] = "valor" => template

         A diferença é que, com a interpolação, você já passa o valor direto no template.
         E utilizando os colchetes, você associa o valor a uma propriedade de uma tag html.,
         Além disso, na interpolação você também pode passar expressões e até chamadas de
         métodos da classe.

             EXEMPLO, O COMPONENTE 'app.component.ts':
             Fonte: https://cursos.alura.com.br/forum/topico-property-binding-x-interpolacao-247435

                  import { Component } from '@angular/core';

                  @Component({
                    selector: 'my-app',
                    templateUrl: './app.component.html',
                    styleUrls: ['./app.component.css'],
                  })
                  export class AppComponent {
                    name = 'Barbara';

                    cumprimentar(): string {
                      return 'Olá, tudo bem?';
                    }
                  }

             E O HTML, o 'app.component.html'

                   <h1>Property binding</h1>

                   <p>Com a interpolação posso mostrar variáveis: Olá {{ name }} :)</p>

                   <p>Expressões: Angular {{ 10 + 4 }}</p>

                   <p>E até chamadas de métodos da classe: {{ cumprimentar() }}</p>

                   <input type="text" [value]="name" />

              RESULTA em:
                    Property binding
                    Com a interpolação posso mostrar variáveis: Olá Barbara :)

                    Expressões: Angular 14

                    E até chamadas de métodos da classe: Olá, tudo bem?

                    Barbara


  16- <ul class="heros">

         Eu estou dizendo que:
         O <ul> é uma classe Heroes.


         O atributo "class" (class="valor") é um atributo GLOBAL.
         Quando eu crio uma class, eu crio um estilo nomeado com aquele nome
         (o valor do class).

         Aí qualquer tag que tiver o atributo nela class, terá o mesmo estilo
         CSS.
         Veja o vídeo:
         https://www.youtube.com/watch?v=2y6eiSbVJgY

  17- [class.selected]="selectedHero === hero"
         Ele criou uma classe (class), deu o nome dela de "selected".

         Usando para isso um EVENT BINDING (chaves).

         Tanto que no arquivo css (heroes.component.scss), tem a classe "heroes",
         e a classe de li (a classe "selected"), com um estilo para esta
         classe "selected".

-->
